<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Models1" value="https://pkgs.dev.azure.com/RoopsLand/2b7c2147-4b4d-446b-933a-391facbbd7aa/_packaging/Tailspin.SpaceGame.Web.Models1/nuget/v3/index.json" />
  </packageSources>
</configuration>